@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Outfit', sans-serif !important;
}


/* Add a black background color to the top navigation */
.topnav {
    background-color: #EDE7F0;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #776766;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #BCA6C7;
    color: #3B2A43;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #BCA6C7;
    color: #3B2A43;
  }

  .btn_container {
    margin-top: 38%;
  }

  #explore {
    background: #BCA6C7;
    border-radius: 50px;
    margin: auto;
    border: none;
    font-size: 20px;
  }

  .mood_btn {
    background: #BCA6C7 !important;
    border: none !important;
    border-radius: 50px !important;
  }
  
  label, h4 {
    color: #3A2B43 !important;
  }

  .logo {
    width: 10%;
  }

  .song > span{
    background: #FDF9FF;
    padding: 5px 10px;
    font-size: 20px;
    color: #766766;
    border-radius: 5px;
    /* width: auto;
    margin-left: auto;
    margin-right: auto; */
  }

  .tip {
    margin-top: 20px;
  }
  
  header {
    text-align: center;
    padding: 40px;
  }

  .dataset-h1 {
    color: #3B2A43;
    margin-left: 4rem;
  }

  .dataset-p {
    margin-left: 4rem; 
    margin-right: 4em
  }

  .dataset-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30em;
  }

  .about-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #3B2A43;
  }

  .parent {
    display: flex;
  flex-wrap: wrap;
  }

  .child {
    flex: 1 0 20%;
    margin: 5px;
    height: 100px;
    background-color: transparent;
  }

.about-body {
  background-image: url("../imgs/bts-element.png");
  background-repeat: no-repeat;
  background-position: 100% -210%;
}